* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  position: relative;
  width: 80vw;
  height: 90vh;
}
.image-container-before,
.image-container-after {
  position: absolute;
}
.image-container-before {
  width: 15vw;
  overflow: hidden;
}
img {
  width: 80vw;
  height: 90vh;
  object-fit: cover;
}
.slider {
  width: 0.5rem;
  height: 100%;
  background: yellow;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  /* transform translate to make the slider bar exactly in the middle if not, it will contiue to push over into the right hand image */
  transform: translate(-50%, 0%);
  pointer-events: none;
}

@media only screen and (min-width: 1024px) {
  .container {
    position: relative;
    width: 50vw;
    height: 80vh;
  }
  img {
    width: 50vw;
    height: 80vh;
    object-fit: cover;
  }
}
